@media(max-width:575px){
    /* navbar  */
    .nav_bg ul{
        text-align: center;
    }

    /* navbar  */

    /* banner part start  */
    .banner__heading {
        text-align: center;
        width: auto;
    }
    .banner__img{
        display: none;
    }
    /* banner part end  */

    /* Our Services part start */
    .section__heading{
        width: auto;
    }
    .services__card{
        margin: 10px auto;
        text-align: center;
    }
    /* Our Services part end */
    
    /* Our Work Portfolio part start */


    /* Our Work Portfolio part end */
    
}
@media(min-width:575px) and (max-width:767.98px){

}
@media(min-width:768px) and (max-width:991.98px){

}
@media(min-width:992px) and (max-width:1199.98px){

}
@media(min-width:1200px) and (max-width:1399.98px){

}
@media(min-width:1400px){

}