@media(max-width:767.98px){
    /* navbar  */
    .nav_bg ul{
        text-align: center;
    }

    /* navbar  */

    /* banner part start  */
    .banner__heading {
        text-align: center;
        width: auto;
    }
    .banner__img{
        display: none;
    }
    /* banner part end  */

    /* Our Services part start */
    .section__heading{
        width: auto;
    }
    .services__card{
        margin: 10px auto;
        text-align: center;
    }
    /* Our Services part end */


    /* Our Expert Team Member part start */
    .member__card{
        margin: 10px 0;
    }
    /* Our Expert Team Member part end */


    /* We Care About Our Customer Experience Too part start */
    .customer__card{
        text-align: center;
        margin: 10px;
    }
    .customer__card ul{
        justify-content: center;
        margin: 0;
    }
    /* We Care About Our Customer Experience Too part end */

    /* Our Letest News patr start */
    .news__card{
        margin: 10px;
    }
    .news__card_body{
        width: auto;
    }

    /* Our Letest News patr end */
    
    
}
@media(min-width:768px) and (max-width:991.98px){
    .banner__img{
        display: none;
    }
    .services__card{
        margin: 10px;
        text-align: center;
    }
    .porfolio__card{
        margin: 10px;
    }
    .member__card{
        margin: 10px;
    }
    .customer__card{
        margin: 10px;
    }
    .news__card{
        margin: 10px;
    }
    .news__card_body{
        width: auto;
    }


}
@media(min-width:992px) and (max-width:1199.98px){
    .news__card_body{
        width: auto;
    }
    .banner__img{
        width: 90%;
    }

}