*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.section__heading{
    margin: 50px auto;
    text-align: center;
    width: 500px;
}
.section__heading h2{
    font-size: 40px;
    font-weight: 700;
}
.section__heading p{
    color: rgba(24, 24, 24, 0.7);
}
/* navbar part start  */
.logo{
    width: 100px;
}
/* navbar part end  */


/* banner part start  */
#banner{
    background-color: #5956E8;
    padding: 180px 0;
}
.banner__heading h2{
    font-weight: 700;
    font-size: 65px;
    color: white;
}
.banner__heading p{
    padding: 30px 0;
    color: white;
}
.banner__heading a{
    background-color: white;
    color: #5956E8;
}
/* banner part end  */


/* Our Services part start */
.services__heading{
    margin: 50px auto;
    text-align: center;
    width: 500px;
}
.services__heading p{
    color: rgba(24, 24, 24, 0.7);
}
.services__heading h2{
    font-size: 40px;
    font-weight: 700;
}
.services__card{
    border: 0.5px solid #E3E3E3;
    border-radius: 10px;
    padding: 63px 48px;
    /* margin: 0 15px; */
}
.services__card h3{
    padding: 30px 0;
    font-weight: 700;
}
/* Our Services part end */


/* Our Work Portfolio part start */
.portfolio__card{
    position: relative;
}
.portfolio__card_inner{
    position: absolute;
    bottom: 19px;
    left: 20px;
    background-color: #5956E8;
    padding: 20px 40px;
    color: white;
    border-radius: 10px;
    text-align: center;
    z-index: -1;
}
.portfolio__card_inner p{
    margin: 0;
    padding: 0;
}
.portfolio__card:hover .portfolio__card_inner{
    z-index: 1;
}
/* Our Work Portfolio part end */


/* Our Expert Team Member part start  */
.member__card{
    position: relative;
}
.member__card_inner{
    position: absolute;
    background: linear-gradient(0deg, #5956E8 -1.13%, rgba(255, 255, 255, 0) 58.11%);
    top: 0;
    left: 12px;
    width: 370px;
    height: 100%;
    color: white;
    border-radius: 10px;
    text-align: center;
}
.member__card_inner h4{
    padding-top: 95%;
}
/* Our Expert Team Member part end */


/* We Care About Our Customer Experience Too part start */
.customer__heading{
    width: 500px;
    padding-top: 100px;
}
.customer__heading h2{
    font-weight: 700;
    font-size: 39px;
}
.customer__heading p{
    color: rgba(24, 24, 24, 0.7);
}
.customer__card{
    padding: 48px;
    box-shadow: 0px 0px 50px 10px rgba(212, 212, 212, 0.6);
    border-radius: 10px;
}
.customer__card ul{
    display: flex;
    padding: 20px 0;
}
.customer__card ul li{
    color: #FBBF25;
    
}
/* We Care About Our Customer Experience Too part end */


/* Our Letest News patr start */
.news__heading{
    margin: 50px auto;
    text-align: center;
    width: 500px;
    padding-top: 50px;
}
.news__heading h2{
    font-size: 40px;
    font-weight: 700;
}
.news__heading p{
    color: rgba(24, 24, 24, 0.7);
}
.news__card{
    border: 1px solid #E3E3E3;
    border-radius: 10px;
    padding: 20px;
}
.news__card img{
    width: 100%;
}
.news__card_body{
    width: 300px;
}
.news__card_body h3{
    font-size: 20px;
    font-weight: 600;
}
.news__card_header{
    display: flex;
    padding: 20px 0 10px 0;
    color: #5D5D5D;
}
.news__card_header_admin{
    display: flex;
}
.news__card_header_admin p{
    padding-left: 10px;
}
.news__card_header_date{
    display: flex;
    padding-left: 30px;
}
.news__card_header_date p{
    padding-left: 10px;
}









/* Our Letest News patr end */