*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
a{
    text-decoration: none;
}
/* navbar part start  */
.logo{
    width: 100px;
}
/* navbar part end  */


/* banner part start  */
#banner{
    background-color: #5956E8;
    padding: 180px 0;
}
.banner__heading h2{
    font-weight: 700;
    font-size: 65px;
    color: white;
}
.banner__heading p{
    padding: 30px 0;
    color: white;
}
.banner__heading a{
    background-color: white;
    color: #5956E8;
}
/* banner part end  */


/* Our Services part start */
.services__heading{
    margin: 50px auto;
    text-align: center;
    width: 500px;
}
.services__heading p{
    color: rgba(24, 24, 24, 0.7);
}
.services__heading h2{
    font-size: 40px;
    font-weight: 700;
}
.services__card{
    border: 0.5px solid #E3E3E3;
    border-radius: 10px;
    padding: 63px 48px;
    /* margin: 0 15px; */
}
.services__card h3{
    padding: 30px 0;
    font-weight: 700;
}
/* Our Services part end */


/* Our Work Portfolio part start */
.portfolio__heading{
    margin: 50px auto;
    text-align: center;
    width: 500px;
    padding-top: 50px;
}
.portfolio__heading h3{
    font-size: 40px;
    font-weight: 700;
}
.portfolio__card{
    position: relative;
}
.portfolio__card_inner{
    position: absolute;
    bottom: 19px;
    left: 20px;
    background-color: #5956E8;
    padding: 20px 40px;
    color: white;
    border-radius: 10px;
    text-align: center;
    z-index: -1;
}
.portfolio__card_inner p{
    margin: 0;
    padding: 0;
}
.portfolio__card:hover .portfolio__card_inner{
    z-index: 1;
}
/* Our Work Portfolio part end */